.playlist {
	padding: 30px;
	width: 100%;
	height: 100vh;
	overflow-y: overlay;
	flex: 0.8;
	color: white;
	background: linear-gradient(transparent, rgba(0, 0, 0, 1));
	background-color: rgb(91, 87, 115);
}

.banner-button {
  font-size: 20px;
}

.playlist::-webkit-scrollbar {
	display: none;
}

.playlist__info {
	display: flex;
	align-items: flex-end;
	padding: 10px;
}

.playlist__info > img {
	height: 20vw;
	margin: 0 30px 0 20px;
	box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.playlist__infoText {
	flex: 1;
}

.playlist__infoText > h2 {
	font-size: 48px;
	margin-bottom: 10px;
}

.playlist__infoText > p {
	font-size: 14px;
}

.play__button {
	background-color: #617ee9;
	border-radius: 20px;
	margin-top: 20px;
	font-size: 16px;
	padding: 9px 24px;
}
.add__button,
.heart__button,
.share__button {
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	margin-left: 15px;
	border-radius: 50%;
	background-color: #5d545d;
}

.playlist__icons {
	display: flex;
	align-items: center;
}

.playlist__icons > .MuiSvgIcon-root {
	margin-right: 20px;
}

.playlist__shuffle:hover {
	transition: 100ms transform ease-in;
	transform: scale(1.08);
}

.playlist__background {
	position: absolute;
	top: 13vh;
	right: 0;
	opacity: 0.4;
	height: 80%;
	width: 80%;
	background-color: black;
}

.playlist__songs {
	z-index: 1;
	margin: 20px -30px;
}
